# .coveragerc
[run]
source = .
omit = 
    */migrations/*
    */tests/*
    */test_*.py
    */venv/*
    */virtualenv/*
    manage.py
    */settings/*
    */wsgi.py
    */asgi.py
    */apps.py
    */admin.py
    */urls.py

[report]
precision = 2
skip_covered = False
show_missing = True

[xml]
output = coverage.xml

[html]
directory = htmlcov